@keyframes animateCentralPartBot {
    from {
        margin-left: -600px;
    }
}

.central-part__bot {
    display: flex;
    flex-direction: column;
    margin-top: 450px;
    padding-left: 80px;
    padding-bottom: 30px;
    animation: 2s alternate animateCentralPartBot;
}
